<?xml version="1.0"?>
<launch>
  <include file="$(find bunker_description)/launch/bunker_description.launch"/>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bunker_viz)/rviz/model.rviz" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
